<div class="d-flex flex-column flex-lg-row">
  <mat-card class="mx-lg-3 my-3">
    <div class="container" > 
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
         
          <div>
              <mat-form-field appearance="fill">
                  <mat-label>Enter your name</mat-label>
                  <input matInput placeholder="Name" formControlName="name" required>
                  <mat-error *ngIf="userForm.get('name').invalid">You must enter a value</mat-error>
                </mat-form-field>
          </div>
      
            <div>
              <mat-form-field appearance="fill">
                  <mat-label>Enter friends name</mat-label>
                  <input matInput placeholder="Friend Name" formControlName="friends" required>
                  <mat-hint align="end">Please enter friends name comma separated</mat-hint>
                  <mat-error *ngIf="userForm.get('name').invalid">You must enter a value</mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your age</mat-label>
                    <input matInput placeholder="Age" type="number" formControlName="age" required>
                    <mat-error *ngIf="userForm.get('age').invalid">Enter a valid age between 1 to 120 </mat-error>
                  </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your weight</mat-label>
                    <input matInput placeholder="weight" type="number" formControlName="weight" required>
                    <mat-error *ngIf="userForm.get('weight').invalid">Enter a valid weight between 10 to 400 </mat-error>
                  </mat-form-field>
            </div>
         
          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!userForm.valid">Submit Form</button>
          </div>
      
        </form>
      </div>
    </mat-card>
    
    <mat-card class="m-lg-3 my-3">
        <app-user-chart [users]="users"></app-user-chart>
    </mat-card>
</div>